.nae-main-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #040a22;
    transition: background-color 0.5s ease;
}

.nae-main-section .main-full-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.nae-main-section .main-backbg-area{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:1;
    top: 0;
    left:0;
    display: flex;
}

.nae-main-section .main-area-section {
    flex: 1;
}

.nae-main-section .profile-img-wrap{
    width: 34%;
    height: 84%;
    position: absolute;
    bottom:0;
    left:50%;
    display: flex;
    align-items: end;
}

.nae-main-section .profile-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nae-main-section .main-gradient {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 500px;
    height: 500px;
    filter: blur(50px);
    background-image: linear-gradient(#4ddc9e, #5b37eb, #f1307e);
    animation: rotate 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
    transition: background-image 0.5s ease;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.nae-main-section .main-text-wrap{
    width: 100%;
    height: 100%;
    position: realtive;
    display: flex;
    flex-direction: column;
    justify-content: end;
}  
.nae-main-section .back-text {
    width: 100%;
    position: relative;
    font-size: 4em;
    color: transparent;
    -webkit-text-stroke : 2px var(--secondary-cream-color);
    text-align: start;   
}

.nae-main-section .front-text{
    width: 100%;
    position:relative;
    /* animation: text-fill-animaition 2s ease forwards  6.6s; */
}


.nae-main-section .front-text path:nth-child(1){
    stroke-dasharray: 2546;
    stroke-dashoffset: 2546;
    animation: line-animation 2s ease forwards 5.2s;
}
.nae-main-section .front-text path:nth-child(2){
    stroke-dasharray: 2552;
    stroke-dashoffset: 2552;
    animation: line-animation 2s ease forwards  5.6s;
    
}
.nae-main-section .front-text path:nth-child(3){
    stroke-dasharray: 2764;
    stroke-dashoffset: 2764;
    animation: line-animation 2s ease forwards 5.8s;
}
.nae-main-section .front-text path:nth-child(4){
    stroke-dasharray: 2592;
    stroke-dashoffset: 2592;
    animation: line-animation 2s ease forwards  6.0s;
}
.nae-main-section .front-text path:nth-child(5){
    stroke-dasharray: 1807;
    stroke-dashoffset: 1807;
    animation: line-animation 2s ease forwards  6.2s;
}
.nae-main-section .front-text path:nth-child(6){
    stroke-dasharray: 2101;
    stroke-dashoffset: 2101;
    animation: line-animation 2s ease forwards  6.4s;
}
.nae-main-section .front-text path:nth-child(7){
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
    animation: line-animation 2s ease forwards  6.6s;
}

@keyframes line-animation {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes text-fill-animaition {
    from{
        fill: transparent;
    }
    to{
        fill : var(--contrast-pink-color);
    }
}