.nae-history-section{
    width: 100%;
    height: 100%;
}

.nae-history-section .nae-history-inner{
    width: 100%;
    height: 100%;
    padding-top: 12.5em;
    position: relative;
}


.nae-history-section .history-title-wrap{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    color: var(--contrast-pink-color);
    font-size: 80px;
    border-bottom: 1px solid var(--contrast-pink-color);
}

.nae-history-section .first-title-text{
    padding-right: 50px;
}

